.navBg {
    background-image: url('../../assets/images/header_shape.png');
    background-size: cover; /* Keep */
    background-repeat: no-repeat; /* Keep */
    background-position: center; /* Add this for proper centering */
    width: 100%; /* Fix here */
    height: auto; /* Optional: or set a fixed height like 300px */
}


.logo {
  font-family: "Poppins", sans-serif

}